---
layout: default
title: UPCJMI welcomes you
css: index
description: Welcome to University Placement Cell, Jamia Millia Islamia. In Jamia we belive in.
carousel: index
---

<div id="landing">
	<div class="holder" style="height: 100vh">
		<div id="carosusel">
			<div class="carousel carousel-slider" style="position:absolute;min-height: 100vh;">
				<span class="carousel-item">
					<div class="bg-img" style="background-image: url('/assets/images/carousel/index/bg1.jpg');"></div>
				</span>
				<span class="carousel-item">
					<div class="bg-img" style="background-image: url('/assets/images/carousel/index/bg2.jpg');"></div>
				</span>
				<span class="carousel-item">
					<div class="bg-img" style="background-image: url('/assets/images/carousel/index/bg3.jpg');"></div>
				</span>
				<span class="carousel-item">
					<div class="bg-img" style="background-image: url('/assets/images/carousel/index/bg4.jpg');"></div>
				</span>
				<span class="carousel-item">
					<div class="bg-img" style="background-image: url('/assets/images/carousel/index/bg5.jpg');"></div>
				</span>
			</div>
		</div>
		<div class="content">
			<div style="height: 20px"></div>
			<div class="container">
				<div class="welcome white-text">
					Welcome to
				</div>
				<h1 class="white-text with-sub-heading">
					University Placement Cell <br>
					<span>
						Jamia Millia Islamia
					</span>
				</h1>
			</div>
			<div class="container">
				<div href="#!" class="button white">
					<a href="/register/job-rediness-program/" class="black-text">
						JOB READINESS PROGRAM
					</a>
				</div>
				<div href="#!" class="button white">
					<a href="https://pfrepo.me/" target="_blank" class="black-text">
						RESUME BUILDER
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="about-us" class="copy-protect section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="black-text">
					About us
				</h2>
			</div>
		</div>
		<div class="row center-all" id="about-jamia">
			<div class="col s12 m8 l8" id="about-jamia-content">
				<b style="font-size: 2rem">
					Jamia Millia Islamia
				</b>
				was founded at Aligarh in the United Province, India in 1920 during the Khilafat and
				Non-Cooperation Movement in response to Gandhiji's call to boycott government supported
				educational institutions. JMI moved from Aligarh to Delhi in the year 1925 and was made a
				central university by Parliamentary act of 1988. Today, Jamia Millia Islamia is one of the most
				prominent and promising central university of the country. JMI was recently awarded an 'A' Grade
				by NAAC (National Assessment and Accreditation Council).
			</div>
			<div class="col s12 m4 l4 center-all">
				<img class="responsive-img" src="/assets/images/jamia-logo.png" alt="Jamia Millia Islamia Logo">
			</div>
		</div>

		<div class="row center-all" id="tpo-message">
			<div class="col s12 m4 l4 center-all">
				<img class="responsive-img" src="/assets/images/rihan-khan-suri-tpo-jamia-miilia-islamia.png"
					alt="Rihan Khan Suri - Traning and Placement Ofiicer, Jamia Millia Islamia">
			</div>
			<div class="col s12 m8 l8">
				<div class="row">
					<div class="col s12 hide-on-med-and-up" style="text-align: center">
						<b style="font-size: 2rem">
							Dr. Rihan Khan Suri
						</b>
						<br>
						<b>
							Training and Placement Offer, Jamia Millia Islamia
						</b>
						<br>
						<br>
					</div>
					<div class="col s12">A message from Sir. Lorem Ipsum is simply dummy text of the printing
						and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						since the 1500s, when an unknown printer took a galley of type and scrambled it to make
						a type specimen book.
						<br>
						<br>
					</div>
					<div class="col s12 hide-on-small-only"> <b style="font-size: 2rem">
							Dr. Rihan Khan Suri
						</b>
						<br>
						<b>
							Training and Placement Offer, Jamia Millia Islamia
						</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="recruit" class="copy-protect section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 style="text-align: center">
					Top Recruiters
				</h2>
			</div>
		</div>
		<div class="row center-all" style="flex-wrap: wrap">
			{% for company in site.data.companies.top-compaines %}
			<div class="col s6 m4" style="margin-bottom: 5vw">
				<div class="container">
					<h3 class="hide">
						{{company.name}} recruited from UPCJMI
					</h3>
					<img src="/assets/images/top-companies/{{company.image}}" class="responsive-img"
						alt="{{company.name}} - Jamia Millia Isalmia's Top Recruiter">
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row center-all">
			<div href="#!" class="button black center">
				<a href="#!" class="white-text">
					All Companies
				</a>
			</div>
		</div>

	</div>
</div>
<div id="why-recruit" class="section copy-protect">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>
					Recruit from Jamia Millia Islamia
				</h2>
			</div>
		</div>
		<div class="row center-all" style="flex-wrap: wrap">
			{% for award in site.data.why-recruit %}
			<div class="col s12 m4 center" style="margin-bottom: 5vw">
				<div class="container">
					<h3 class="hide">
						{{award.title}} recruit from UPCJMI
					</h3>
					<img src="/assets/images/badges/{{award.image}}" class="responsive-img"
						alt="{{award.title}} - recruit from University Placement Cell, Jamia Millia Isalmia">
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col s12 m6 l4 button center push-l4 push-m3" id="send-recruit-proposal-btn">
				<a href="mailto:rsuri@jmi.ac.in">
					SEND US PROPOSAL
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l4 center push-l4 push-m3" id="know-more-why-recruit">
				<a href="#!">
					Know More
				</a>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row container" id="contact">
	<div class="col s10 l5">
		<h2>Contact us</h2>
		<div class="card contact">
			<div>
				<div class="name">Rehan Khan Suri</div>
				<b>
					Training and placement Officer
				</b>
				<br><br>
				<p class="center-all">
					<img src="/assets/images/icons/email.png" style="height:12px;margin-right:10px">
					<b>
						rsuri@jmi.ac.in
					</b>
				</p>
				<p class="center-all">
					<img src="/assets/images/icons/whatsapp.png" style="height:15px;margin-right:10px">
					<b>
						+91 xxxxx 36980
					</b>
				</p>
			</div>
			<div class=""
				style="height:120px;width:120px;border-radius:100px;position:absolute;top:-0px;right:-10vh;background-image: url('http://localhost:4000/assets/images/rihan-khan-suri-tpo-jamia-miilia-islamia.png');background-size: contain;background-position: center;background-repeat: no-repeat;">
			</div>
		</div>
		{% for contact in site.data.index.contact %}
		<div class="card contact">
			<div>
				<div class="name">{{contact.name}}</div>
				<b>
					{{contact.designation}}
				</b>
				<br><br>
				<p class="center-all">
					<img src="/assets/images/icons/email.png" style="height:12px;margin-right:10px">
					<b>
						{{contact.email}}
					</b>
				</p>
				{% if contact.whatsapp %}
					<p class="center-all">
						<img src="/assets/images/icons/whatsapp.png" style="height:15px;margin-right:10px">
						<b>
							{{contact.whatsapp}}
						</b>
					</p>
				{% endif %}
			</div>
			<div
				style="height:120px;width:120px;border-radius:100px;position:absolute;top:-0px;right:-10vh;background-image: url('http://localhost:4000/assets/images/rihan-khan-suri-tpo-jamia-miilia-islamia.png');background-size: contain;background-position: center;background-repeat: no-repeat;">
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col s12 l5 push-l1">
		<h2 class="right">Reach us</h4>
			<iframe width="100%" height="100%" id="map" style="margin-left:auto;margin-right:auto" id="gmap_canvas"
				src="https://maps.google.com/maps?q=jamia%20millia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
				scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</div>
</div>
<script>
	document.getElementById("map").height = document.getElementsByClassName("contact")[0].clientHeight * 2 + 20 + "px";
</script> -->

<div id="contact" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>
					Contact us
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col s12 l6">
				<p style="font-size: 1.5rem">
					Dr. Rihan Khan Suri, <br>
					Training & Placement Officer <br>
					University Placement Cell <br>
					125, Faculty of Engineering & Technology Building <br>
					Jamia Millia Islamia, New Delhi-ll0025 <br> <br>
					Phone Nos. <a href="tel:+258026989106">26989106</a> (D) <a href="tel:+258126981717">26981717</a>
					<br>
					Extn.: 2580/81, <br>
				</p>
			</div>
			<div class="col s12 l6">
				<p style="font-size: 1.5rem">
					Mailing addesses <br><br>

					<a href="mailto:upc@jmi.ac.in">
						University Placement Cell: upc@jmi.ac.in
					</a>
					<br>
					<a href="mailto:rsuri@jmi.ac.in">
						TPO: rsuri@jmi.ac.in
					</a>
					<br>
				</p>
			</div>
		</div>

		<div id="ask-for-assistance-modal" class="modal white">
			<div class="modal-content">
				<h3>
					Questions for us?
				</h3>
				<div class="row">
					<form class="col s12" submit="https://script.google.com/macros/s/AKfycbwRj5x_BwJNCSTlSIxhPhDYEobDjdewtMsvJR3Y6PY3CQ99IrEH/exec" method="POST" name="contact-sheet-form">
						<div class="row">
							<div class="input-field col s12">
								<input id="Name" name="Name"  type="text" class="validate" required>
								<label for="Name">Your Name</label>
							</div>
							<div class="input-field col s6">
								<input id="Email" name="Email" type="email" class="validate" required>
								<label for="Email">Email</label>
							</div>
							<div class="input-field col s6">
								<input id="ContactNumber" name="ContactNumber" type="text" class="validate">
								<label for="ContactNumber">Contact Number</label>
							</div>
							<div class="input-field col s12">
								<textarea id="Question" name="Question" class="materialize-textarea"></textarea>
								<label for="Question">Question</label>
							</div>
							<div class="col s12">
									<div href="#!" class="button black center button-normal">
											<button type="submit" class="white-text">
												Submit
											</button>
									</div>
							</div>
							
						</div>
					</form>
				</div>
			</div>
			<!-- <div class="modal-footer">

			</div> -->
		</div>
		<div class="row center-all">
			<div href="#!" class="button black center">
				<a href="#ask-for-assistance-modal" class="white-text modal-trigger">
					Ask for assitance
				</a>
			</div>
		</div>
	</div>
</div>

<div id="reach-us" class="">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>
					Reach us
				</h2>
			</div>
		</div>
	</div>
	<iframe width="100%" height="320px" id="map" style="margin-left:auto;margin-right:auto" id="gmap_canvas"
		src="https://maps.google.com/maps?q=university%20placement%20cell&t=&z=13&ie=UTF8&iwloc=&output=embed"
		frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>