<header style="z-index:2;top:0 !important">
    <nav class="white hide-on-large-only" id="mobile_nav" style="box-shadow: 0 0 0 0 rgba(0,0,0,0);">
        <div class="col">
            <div class="black-text center ">
                <div class="row">
                    <div class="col s12">
                        <div class="center-all copy-protect" style="text-align: cente;">
                            <a href="/" class="center-all">
                                <img src="/assets/images/jamia-logo-min.png" style="height: 40px;margin: 10px">
                                <b>University Placement Cell</b>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="center-all copy-protect white" id="mobile_nav_links">
            <ul>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#recruit">Recruit</a></li>
                <li><a href="/student">Student &nbsp; &nbsp; </a></li>
            </ul>
        </div>

    </nav>
    <nav class="nav_bar hide-on-med-and-down">
        <div class="nav-wrapper">
            <ul class="logo">
                <li><a href="/"><img src="/assets/images/jamia-logo.png" height="40px"> </a></li>
                <li><a href="/" class="brand-logo hide-on-med-and-down" style="padding:0">
                        <b>
                            University Placement Cell
                        </b>
                    </a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#contact">Contact</a></li>
                <li><a href="#recruit">Recruit</a></li>
                <li><a class="last-nav-link" href="/student">Student &nbsp; &nbsp; </a></li>
            </ul>
        </div>
    </nav>
</header>