<footer class="page-footer grey lighten-4 black-text">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5>
					Contact US
				</h5>
				<h6>
					Phone Numbers (Extn.: 2580/81)
				</h6>
				<p>
					<a href="tel:+258026989106">26989106</a> <br>
					<a href="tel:+258126981717">26981717</a>
				</p>

				<h6>
					Mail Us
				</h6>
				<p>
					<a href="mailto:upc@jmi.ac.in">University Placement Cell: upc@jmi.ac.in</a><br>
					<a href="mailto:rsuri@jmi.ac.in">TPO: rsuri@jmi.ac.in
					</a>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5>GitHub</h5>
				<ul>
					<li><a href="#!" class="black-text">This is an open source website. You can also
							contribute to it.</a></li>
					<li><a href="#!" class="grey-text">Maintainer: Faisal Manzer</a></li>
					<li><a href="#!" class="grey-text">Contributer: Ahmad Hassan</a></li>
				</ul>

				<h5>External Links</h5>
				<a href="jmi.ac.in">Jamia Millia Islamia</a> <br>
			</div>
		</div>
	</div>
	<div class="footer-copyright black white-text">
		<div class="container">
			&copy; 2019 Traning and Placement Office, Jamia Millia Islamia
		</div>
	</div>
</footer>