<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{page.title}} || Univerity Placement Cell, Jamia Millia Islamia </title>
<meta name="description" content="{{page.description}}">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
{% if page.css %}<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{page.css}}.css">{% endif %}
<meta name="robots" content="index, follow">
