.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%
}

@media only screen and (min-width: 601px) {
	.container {
		width: 85%
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 70%
	}
}

.col .row {
	margin-left: -.75rem;
	margin-right: -.75rem
}

.section {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px
}

.row:after {
	content: "";
	display: table;
	clear: both
}

.row .col {
	float: left;
	box-sizing: border-box;
	padding: 0 .75rem;
	min-height: 1px
}

.row .col[class*="push-"],
.row .col[class*="pull-"] {
	position: relative
}

.row .col.s12 {
	width: 100%;
	margin-left: auto;
	left: auto;
	right: auto
}

@media only screen and (min-width: 601px) {
	.row .col.m4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.m8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.push-m3 {
		left: 25%;
	}
}

@media only screen and (min-width: 993px) {
	.row .col.l3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.l4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.l6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.l8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.push-l4 {
		left: 33.3333333333%;
	}
}

@media only screen and (min-width: 1201px) {
	.row .col.xl3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.xl4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.xl6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}

	.row .col.xl12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto
	}
}

@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important
	}
}

@media only screen and (min-width: 993px) {
	.hide-on-large-only {
		display: none !important
	}
}

@media only screen and (min-width: 601px) {
	.hide-on-med-and-up {
		display: none !important;
	}
}

.hide {
	display: none
}