$bg-color: #fff;
$height: 65px;

header {
    position: fixed;
    margin-top: 20px;
    width: 100vw;
}
nav {
    opacity: 0.90;
    background-color: $bg-color;
    height: $height;
    border-radius: #{$height/2};;
    margin-top: 20px !important;
    color: #000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: #{$height/2};
}
nav .brand-logo {
    padding-left: 25px;
    color: black;
}
nav ul a, li {
    color: black !important;
    height: $height;
    display: table-cell;
    vertical-align: middle;
}
.brand-logo {
    font-size: 34 !important;
    margin-top: -1.5px;
}
.last-nav-link {
    border-top-right-radius: #{$height/2};
    border-bottom-right-radius: #{$height/2};
}