$bg-color: rgba(256, 256, 256, 0.95);
$height: 64;

header {
    position: fixed;
    top: 10px;
    width: 100vw;
}
@media screen and (min-width: 992px) {
    nav_bar {
        background-color: #ffffff00;
    }
    nav {
        // opacity: 0.90;
        background-color: $bg-color !important;
        height: #{$height}px;
        border-radius: #{$height}px;;
        margin-top: 20px !important;
        color: #000;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: #{$height/2}px;
        line-height: #{$height}px;

    }
}
nav .brand-logo {
    padding-left: 25px;
    color: black;
}
nav ul a, nav ul li {
    color: black !important;
    height: #{$height}px;
    display: table-cell;
    vertical-align: middle;
}
nav ul li p {
    color: black !important;
    height: #{$height}px;
    display: table-cell;
    vertical-align: middle;
}
.brand-logo {
    font-size: 25px !important;
}
.last-nav-link {
    border-top-right-radius: #{$height}px;
    border-bottom-right-radius: #{$height}px;
}
.logo a:hover {
    background-color: #ffffff00 !important;
}

.logo a {
    display:  flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
}

#mobile_nav_links {
    z-index: -1;
    align-items:  stretch;
    height: 56px !important;
    text-align:  center;
    position:  fixed;
    top: 56px;
    transition:  top 0.3s;
}

nav ul {
    padding: 0;
}