---
---
* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

b {
    font-weight: 700;
}

b.semi {
    font-weight: 400;
}

.row {
    margin-bottom: 25px !important;
}

.col .row {
    margin: 0 !important;
}

.left-col {
    padding-left: 0;
}

.right-col {
    padding-right: 0;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.section {
    padding-top: 80px;
    padding-bottom: 5vh;
}


.copy-protect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.copy-protect img {
    pointer-events: none;
}


h1,
h2,
h3 {
    font-weight: 700;
    color: black;
    font-family: 'Tienne', serif;
}

@media only screen and (max-width : 601px) {

    h1,
    h2,
    h3 {
        text-align: center;
    }
}

.carousel-slider{
    height:100vh !important
}
.bg_img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
@media screen and (max-width: 600px) {
    .header_btn{width:100% !important}
}