---
---
* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

html {
    overflow-x: hidden;
}

b {
    font-weight: 700;
    color: black;
}

b.semi {
    font-weight: 400;
}

.row {
    margin-bottom: 25px !important;
}

.col .row {
    margin: 0 !important;
}

.left-col {
    padding-left: 0;
}

.right-col {
    padding-right: 0;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.section {
    padding-top: 80px;
    padding-bottom: 5vh;
}

.copy-protect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.copy-protect img {
    pointer-events: none;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: black;
    font-family: 'Tienne', serif;
}

h1{
    font-size: 3.5rem !important;
}
h2 {
    font-size: 3rem !important;
}
h3 {
    font-size: 2rem !important;
}
.with-sub-heading{
    display: inline-block;
    line-height: 1;
}

.with-sub-heading span{
    font-size: 1.75rem;
    color: #6AFF00;
    font-weight: 700;
}

.button {
    padding: 10px 15px;
    font-weight: 400;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.button a{
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
}

@media only screen and (max-width : 601px) {

    h1,
    h2,
    h3 {
        text-align: center;
    }
}


@media screen and (max-width: 601px) {
    .button{
        width:100% !important;
        margin-left: 0;
        margin-right: 0;
    }

    .with-sub-heading span{
        font-size: 1.75rem;
    }
}
@media screen and (min-width: 601px) {
    .with-sub-heading span{
        float: right;
    }
}
