#landing .carousel-slider {
    height: 100vh !important
}

#landing .bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#landing .holder {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

#landing .content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #e453;
    top: 0;
    left: 0;
}

#landing .content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#landing h1 {
    margin: 0;
    font-size: 3.5em;
}

#landing .welcome{
    font-size: 3.5em;
}

@media screen and (max-width: 601px) {
    .header_btn {
        width: 100% !important
    }
}
