$gold: #E1A40F;
$bg: black;

#why-recruit{
    color: $gold;
    background-color: $bg;
}

#why-recruit h2{
    color: $gold;
    text-align: center;
}

#why-recruit a{
    color: $gold;
}

#know-more-why-recruit:hover a{
    text-decoration: underline;
    color: gold !important;
}

#send-proposal{
    background-color: $gold;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 200px;
    color: black !important;
}

#send-recruit-proposal-btn{
    background-color: $gold;
    border-radius: 500px;
    padding: 10px;
    transition: 0.3s;
}
#send-recruit-proposal-btn:hover{
    transform: scale(1.25, 1.25);
    background-color: gold;
}

#send-recruit-proposal-btn a{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}
